<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lashgo.android"
          android:versionCode="25"
          android:versionName="2.1"
        >

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- GCM Permissions-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.lashgo.android.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.lashgo.android.permission.C2D_MESSAGE"/>

    <!-- make check photo permissions -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <application
            android:name="com.lashgo.android.LashgoApplication"
            android:icon="@drawable/ic_lashgo"
            android:logo="@drawable/ic_logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.LashGo"
            android:largeHeap="true"
            >

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/login" />

        <activity android:name="com.vk.sdk.VKOpenAuthActivity"
                />

        <activity android:name="com.lashgo.android.ui.auth.TwitterAuthActivity"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.auth.LoginActivity"
                  android:launchMode="singleTop"
                  android:label="@string/login_enter"
                  android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity android:name="com.lashgo.android.ui.main.MainActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity android:name="com.lashgo.android.ui.auth.PasswordRecoverActivity"
                  android:screenOrientation="portrait"
                >

        </activity>

        <activity android:name="com.lashgo.android.ui.auth.SuccessfulRegisterActivity"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.check.PhotoSentActivity"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.profile.ProfileActivity"
                  android:theme="@style/Theme.LashGo.TransparentActionBar"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.comments.CommentsActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/comments"
                />

        <activity android:name="com.lashgo.android.ui.profile.EditProfileActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/edit"
                />

        <activity android:name="com.lashgo.android.ui.subscribes.SubscribesActivity"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.search.SearchActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateVisible"
                />

        <activity android:name="com.lashgo.android.ui.activity.ActivitiesActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/activity"
                />

        <activity android:name="com.lashgo.android.ui.start.SplashActivity"
                  android:screenOrientation="portrait"
                />

        <activity android:name="com.lashgo.android.ui.photo.PhotoActivity"
                  android:label="@string/photo"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.LashGo.TransparentActionBar"
                />

        <activity android:name="com.lashgo.android.ui.check.CheckActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/task">
        </activity>

        <activity android:name="com.lashgo.android.ui.check.CheckPhotoActivity"
                  android:label="@string/task"
                  android:screenOrientation="portrait"
                >
        </activity>

        <activity android:name="com.lashgo.android.ui.check.VoteProcessActivity"
                  android:label="@string/task"
                  android:screenOrientation="portrait"
                >
        </activity>

        <activity
                android:name="com.lashgo.android.ui.start.StartActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="com.lashgo.android.gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND"
                >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.lashgo.android"/>
            </intent-filter>
        </receiver>

        <service
                android:exported="false"
                android:name="com.lashgo.android.service.CheckService"/>
        <service android:name="com.lashgo.android.gcm.GcmIntentService"
                />
    </application>
</manifest>
